body {
    margin: 0;
}
main {
    background-image: url("https://secure.meetupstatic.com/photos/event/5/1/3/0/highres_483380784.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
}
